h1 {
  font-family: "sans-serif";
  background-color: #654321;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding: 2px 0px;
}

#question {
  font-family: "monospace";
  font-size: 30px;
  color: #654321;
}

button {
  background-color: #654321;
  width: 160px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #2b1d0e;
  margin: 20px 0px 0px 130px;
  padding: 10px 10px;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button:hover {
  cursor: pointer;
  background-color: #2b1d0e;
}

button:focus {
  outline: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.dropdown__hover {
  display: inline-block;
  padding: 10px;
  background: #654321;
  color: #fff;
  cursor: pointer;
  border: none;
}

.dropdown__hover:hover {
  background: #222;
}

.dropdown__menu {
  position: absolute;
  display: none;
  width: 160px;
  background: white;
  color: #654321;
  box-shadow: 0 3px 2px rgba(0, 0, 0.3);
  margin-left: 130px;
  margin-top: 0px;
}

.dropdown:hover .dropdown__menu {
  display: block;
}

.dropdown__menu li {
  display: block;
  border: none;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.dropdown__menu li:after {
  display: none;
}

.dropdown__menu li:hover {
  background: #654321;
  color: white;
  cursor: pointer;
}

.dropdown__menu.closed li {
  display: none;
}

/* .category-label {
  font-family: "sans-serif";
  color: #654321;
  font-size: 15px;
  padding: 2px 1px;
} */
