.answerBox {
  width: 100%;
  background-color: #fff;
  border: 1px solid black;
  border-color: #654321;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.correctAnswer {
  width: 100%;
  background-color: green;
  border: 1px solid black;
  border-color: #32CD32;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  color: white;
}

.incorrectAnswer {
  width: 100%;
  background-color: #FF6347;
  border: 1px solid black;
  border-color: #654321;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  color: white;

}
