.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}


.list-group-item.clearfix:hover {
  background-color: grey;
  cursor: pointer;
}

.list-group-item.clearfix.active {
  background-color: grey;
}

.list-group-item.clearfix.disabled {
  pointer-events: none;
  opacity: 0.6;
}
